h1 {
                        font-size: 1.5rem;
                        font-weight: bold;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                        font-family: 'Arial Black', sans-serif;
                    }
                    h2 {
                        font-size: 1.25rem;
                        font-weight: bold;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                        font-family: 'Times New Roman', Verdana, Geneva, Tahoma, sans-serif;
                    }
                    .card {
                        background-color: #fff8dc;
                        border: none;
                        border-radius: 15px;
                        max-width: 30%;
                        max-height: 30%;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        transition: transform 0.2s ease-in-out;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    }
                    .flex-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: flex-start;
                        gap: 20px;
                        flex-basis:250px;
                        flex-direction: row;
                    }
                    img {
                        display: block;
                        position: relative;
                        left: 50%;
                        transform: translateY(30%);
                        transform: translateX(-750%);
                        
                    }